@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --sergio: rgb(19, 71, 101);
  --artworks:rgb(21, 128, 61);
}

.main-container {
  max-height: 125vh;
}

.gallery-container {
  height: 175vh;
  overflow: hidden;
  background: var(--sergio);
  margin-top: 20px;
}

.gallery {
  position: relative;
  top: -10.5vh;
  height: 240vh;
  display: flex;
}

.column {
  width: 25%;
  min-width: 250px;
  white-space: nowrap;
}

.column:nth-of-type(1) {
  top: -38%;
}

.column:nth-of-type(2) {
  top: -20%;
}

.column:nth-of-type(3) {
  top: -32%;
}

.column:nth-of-type(4) {
  top: -60%;
}

/* .column:nth-of-type(5) {
  top: -80%;
} */

.img-container {
  height: 20%;
}

.space{
  height: 50vh;
}

.title{
  text-align: center;
  color: var(--sergio);
}

.btn-sergio{
  color: var(--sergio);
}

.subcategory-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-artworks-container{
  color: var(--artworks);
}

.card-image{
  height: 500px;
  width: 500px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cards-container{
    max-width: 400px;
    padding: 0 20px;
  }
  
}
