@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-height: 125vh;
}

.gallery-container {
  height: 175vh;
  overflow: hidden;
  background: rgb(18, 46, 62);
}

.gallery {
  position: relative;
  top: -10.5vh;
  height: 240vh;
  display: flex;
}

.column {
  width: 25%;
  min-width: 250px;
  white-space: nowrap;
}

.column:nth-of-type(1) {
  top: -38%;
}

.column:nth-of-type(2) {
  top: -20%;
}

.column:nth-of-type(3) {
  top: -32%;
}

.column:nth-of-type(4) {
  top: -60%;
}

/* .column:nth-of-type(5) {
  top: -80%;
} */

.img-container {
  height: 20%;
}

.space{
  height: 50vh;
}

.title{
  text-align: center;
  color: rgb(19, 71, 101);
}

.subcategory-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artwork-container{
  height: 30vh;
  color: rgb(19, 71, 101);
  font-weight: bold;
}