@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --sergio: rgb(19, 71, 101);
  --artworks:rgb(21, 128, 61);
  --amber: rgb(224, 138, 46);
}

html {
  height: 100vh;
  width: 100vw;
}

.navbar{
  background-color: var(--sergio);
  color: white;
}

.btn-sergio:hover {
  color: var(--sergio);
}

.btn-opere:hover {
  color: var(--artworks);
}

.btn-contatti:hover {
  color: var(--amber);
}

.main-container {
  max-height: 125vh;
}

.gallery-container {
  height: 175vh;
  overflow: hidden;
  background: var(--sergio);
  margin-top: 20px;
}

.gallery {
  position: relative;
  top: -10.5vh;
  height: 240vh;
  display: flex;
}

.column {
  width: 25%;
  min-width: 250px;
  white-space: nowrap;
}

.column:nth-of-type(1) {
  top: -38%;
}

.column:nth-of-type(2) {
  top: -20%;
}

.column:nth-of-type(3) {
  top: -32%;
}

.column:nth-of-type(4) {
  top: -60%;
}

.img-container {
  height: 20%;
}

.space{
  height: 50vh;
}

.title-home{
  text-align: center;
  color: var(--sergio);
}

.mi-presento-home{
  color: var(--sergio);
}

.sergio-picture > img{
  border-radius: 35px 5px 35px 5px;
}

.page-artworks-container > div > h1,
.page-artworks-container > div > h2,  
.artwork-details > .title{
  color: var(--artworks);
}

.cross-close-button {
  border-color: var(--artworks);
  color: white;
  background-color: var(--artworks, 0.5, 0.5, 0.5);
}

.card-image{
  height: 500px;
  width: 500px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: var(--sergio);
}

.mail-icon, .fb-icon {
  display: flex;
  color: white;
}

@media screen and (max-width: 768px) {
  .cards-container{
    max-width: 100%;
    min-height: 100%;
    padding: 0 20px;
  }

  .subcategory-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .main-container{
    min-width: 100vw;
  }

  .sergio-picture{
    width: 350px;
  }
}
